body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

header .contenedor  {
  display: flex;
  justify-content: space-between;
}

header .lista-menu{
  display: flex;
}

header ul li{
  list-style: none;
  margin-right: 15px;
}

a{
  text-decoration: none;
}

.contenedor{
  max-width: 1280px;
  width: 90%;
  margin: auto;
}

header{
  background:
  linear-gradient(rgba(84, 93, 220,.3), rgba(96, 171, 245,.3)), url(imagenes/fondo3.jpg);
  height: 100vh;
  background-size: cover;
}

#contenedor-titulo-flex{
  display: flex;
  justify-content: center;
  margin: 18vh 0;
  width: 100%;
}

h1{
  font-size: 50px;
  color: #fff;
  text-align: center;
  margin: 0;
}

h2{
  font-size: 25px;
  color: #fff;
}

.contenedor-titulo{
  text-align: center;
}

.contenedor-titulo a, #sobre-Nosotros a, #blog a, #que-esperas a, #contacto input[type="submit"] {
  font-size: 14px;
  color: #fff;
  background: #5cb8ff;
  padding: 14px 24px;
  width: 128px;
  display: inline-block;
}

p.logo{
  color: #fff;
  font-size: 20px;
}

nav ul li a{
  color: #fff;
}

/*Seccion sobre Nosotros*/

h3{
  text-align: center;
  font-size: 55px;
  font-weight: normal;
}
#sobre-Nosotros .contenedor-sobrenosotros{
  display: flex;
  justify-content: space-around;
}

#sobre-Nosotros .texto{
  width: 42%;
}

/*Seccion Servicios*/
.contenedor-servicios{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #fff;
}

.servicio{
  width: 24%;
  /*padding: 34px 30px 38px 30px;*/
  padding-top: 34px;
  padding-right: 30px;
  padding-bottom: 38px;
  padding-left: 30px;
  border-radius: 15px;
  margin-bottom: 40px;
  position: relative;
}

.servicio h4{
  font-size: 30px;
  margin: 0;
}

.servicio p {
  margin-bottom: 20px;
  height: 250px;
}

.contenedor-servicios .violeta{
  background: linear-gradient(to top, #5055df, #6d68f3);
  box-shadow: 0 12px 30px 0 rgba(80, 85, 233, .37);
}

.contenedor-servicios .celeste{
  background: linear-gradient(to top, #40a8f9, #5cb8ff);
  box-shadow: 0 12px 30px 0 rgba(86, 163, 222, .3);
}

.ondas{
  position: absolute;
  left: 0;
  bottom: 0;
}

.icono{
  float: right;
}

/*Seccion Nuestro Trabajos*/

button.owl-prev, button.owl-next{
  font-size: 20px !important;
}

span{
  color: #71bcfa;
}

#nuestro-trabajos p{
  text-align: center;
  color: #000;
}

/*Seccion por que trabajar conmigo*/

.contenedor-trabajar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#porque-trabajar .items{
  width: 28%;
  text-align: center;
}

#porque-trabajar ul li{
  list-style: none;
}

#porque-trabajar ul li:nth-child(2){
  font-weight: bold;
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 20px;
}

#porque-trabajar ul li:nth-child(3){
  line-height: 20px;
}

/*Seccion del Blog*/

#blog{
  background: #F9FAFC;
}

#blog .contenedor-publicaciones {
  display: flex;
  justify-content: space-around;
}

#blog .publicacion{
  width: 30%;
  box-shadow: 1px 1px 14px #ccc;
}

#blog img {
  width: 100%;
}

#blog .contenido{
  background: #fff;
  padding: 20px;
}

#blog h4{
  font-size: 23px;
  margin: 0;
  margin-bottom: 15px;
}

#blog p{
  color: #5A6169;
  line-height: 24px;
  font-size: 16px;
}

#blog a{
  width: 87px;
  text-align: center;
}

/*SECCION QUE ESPERAS*/

#que-esperas{
  background:
  linear-gradient(rgba(84, 93, 220, .94),
  rgba(96, 171, 245, .9));
  text-align: center;
  padding: 50px 0;
  margin-top: 40px;
}

#que-esperas h3{
  font-size: 23px;
  color: #fff;
}

/*SECCION CONTACTO*/

#contacto form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 77%;
  margin: auto;
}

input[type="text"], input[type="email"]{
  width: 49%;
  margin-top: 15px;
  padding: 18px 0;
  border: 0;
  border-bottom: 1px solid #5cb8ff;
  font-size: 17px;
}

textarea{
  padding: 18px 0;
  border: 0;
  border-bottom: 1px solid #5cb8ff;
  font-size: 17px;
  margin-bottom: 40px;
  width: 100%;
  margin-top: 10px;
}

#contacto input[type="submit"]{
  width: 166px;
  margin: auto;
}

.contacto-info{
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.contacto-info img{
  width: 28px;
  vertical-align: middle;
  margin-right: 10px;
}

footer {
  background: #2F2F2F;
  padding: 40px 0;
  text-align: center;
  margin-top: 40px;
}

footer .contenedor {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer img {
  margin: 0 40px;
  width: 30px;
  transform: rotate(0);
  transition: 0.5s;
}

footer img:hover {
  transform: rotate(360deg);
  transition: 0.5s;
}

footer p {
  color: #fff;
  margin-top: 40px;
}

#whatsapp {
  position: fixed;
  top: 80%;
  right: 1%;
}

#comunicacion {
  position: fixed;
  top: 80%;
  left: 1%;
}


html {
  scroll-behavior: smooth;
}

#sobre-Nosotros, #nuestro-trabajos, #porque-trabajar, #que-esperas {
  padding: 90px 0;
}
#Servicios{
  padding: 40px 0;
}
#blog{
  padding: 70px 0;
}

.menu-icon{
  display: none;
}

@media (max-width: 800px) {

  .menu-icon {
    display: block;
    float: right;
    width: 40px;
    height: 35px;
    margin-top: 15px;
  }
header nav{
  position: absolute;
  top: 83px;
  left: 0;
  height: 268px;
  background: #5cb8ff;
  width: 100%;
  display: none;
}

header nav ul{
  flex-direction: column;
}

header nav ul li{
  margin-bottom: 15px;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 19px;
}

#sobre-Nosotros .contenedor-sobrenosotros{
  flex-direction: column;
}

#sobre-Nosotros img{
  width: 100%;
}

#sobre-Nosotros .texto{
  width: 100%;
}

.contenedor-servicios {
    flex-direction: column;
}

.servicio {
  width: 85%;
  padding: 34px 30px 69px 30px;
}
.icono{
  margin-top: 23px;
}

h3{
  font-size: 43px;
}
.contenedor-trabajar {
    flex-direction: column;
}
#porque-trabajar .items {
    width: 100%;
}
.items ul {
    padding: 0%;
}

#blog .contenedor-publicaciones {
    flex-direction: column;
}

#blog .publicacion {
    width: 100%;
    margin-bottom: 40px;
}

#contacto form {
    flex-direction: column;
    width: 100%;
}




element.style {
}
input[type="text"], input[type="email"] {
    width: 100%;
}

.contacto-info {
    flex-direction: column;
    text-align: center;
}
}

@media (min-width:600px) and (max-width:800px) {
  header{
    height: 70vh;
  }
  .contenedor-servicios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #fff;
    width: 57%;
    margin: auto;
    margin-bottom: 45px;
}

.contenedor {
    width: 71%;
    margin: auto;
}

}
